/* Write your CSS here */
.main-container {
  min-height: 100vh;
  background: linear-gradient(45deg, #fa7257, #fc63a7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  width: 50%;
}
.show-hide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.button {
  border: none;
  color: #dd1264;
  font-weight: bold;
  padding: 0.7em 1.2em;
  border-radius: 5px;
  margin-bottom: 2em;
}
.name-cont {
  min-height: 200px;
}

p {
  padding: 2em;
  background-color: white;
  border-radius: 10px;
}
